.col-xs-12.col-md-2
.col-xs-12.col-md-8#connect-to-venmo-div
	%h1 Connect to Venmo
	=image_tag("logoblue.png", width: '300', id: 'venmo-logo')
	-if current_user.venmo_account
		%p.venmo You have already authorized Venmo for your account.
	-else
		%p.venmo In order to create and contribute to campaigns, you must connect to your Venmo account.
		%a{href: 'https://api.venmo.com/v1/oauth/authorize?client_id=1658&scope=make_payments%20access_profile%20access_balance&response_type=code', target: 'blank', class: 'btn btn-primary btn-lg', id: 'connect-venmo-link'}>Connect to Venmo
.col-xs-12.col-md-2
