.container
	.col-xs-12.col-sm-2#main-gift-sidebar{:data => {'spy' => "affix", 'offset-top' => "120", 'offset-bottom' => "200"}}
		= render :partial => 'gift_index_sidebar'

	.col-xs-12.col-sm-10.pull-right
		= render :partial => 'gift_feed'


