/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";

body {
	background-color: whitesmoke;
}

/* NAVBAR */

.navbar {
	background-color: #333;
	border-radius: 0;
	border: none;
}

#user-login-button {
	background-color: #3498db;
	border: none;
	color: white;
}
#user-login-button:hover {
	background-color: #2980b9;
}

#user-create-account-button {
	border: none;
}

#user-logout-button {
	background-color: #3498db;
	border: none;
	color: white;
}
#user-logout-button:hover {
	background-color: #2980b9;
}

#signed-in-text {
	color: white;
}


/* NOTICES */

.flash_notice {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
	display: block;
	margin: 0px 20px 20px 20px;
}

.flash_alert {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
	display: block;
	margin: 0px 20px 20px 20px;
}


/* DEVISE */

.devise-form {
	max-width: 300px;
}
.devise-submit {
	margin-bottom: 10px;
	background-color: #3498db;
	border: none;
	color: white;
}
.devise-submit:hover {
	background-color: #2980b9;
	color: white;
}




