
.container {
	position: relative;
}
a:hover {
	text-decoration: none;
}
#back-to-gifts {
	padding-bottom: 10px;
}

#user-feed-title h1 {
	font-family: helvetica;
	font-weight: bold;
	color: #333;
}
.single-gift {
	background-color: white;
	margin: 10px 15px;
	min-height: 100px;
	background: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	-webkit-border-radius: 3px;
	padding: 0;
}
.profile-image-feed img {
	vertical-align: super;
}

.main-feed-image {
	width: 100%;
	margin: 0px auto 10px auto;
}
.main-feed-gift-title {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin: 0px auto;
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 0px;
	background-color: #e9eaed;
}
.main-feed-gift-content {
	padding: 10px;
}
.main-feed-gift-owner {
	font-weight: bold;
}
.main-feed-gift-owner span {
	font-weight: normal;
}
.main-feed-gift-description {
	margin-top: 5px;
	font-weight: bold
}
.main-feed-gift-description span {
	font-weight: normal;
}


/* SIDEBAR */

#main-gift-sidebar {

}
#main-gift-sidebar-content {
	width: 170px;
}
#main-gift-sidebar-content a {
	background-color: #1abc9c;
	border: none;
	color: white;
}
#main-gift-sidebar-content a:hover {
	background-color: #16a085;
}

#sidebar-sign-in a {
	background-color: #3498db;
	border: none;
	color: white;
}
.affix-top {
	margin-top: 120px;
}
.affix {
}


/*----- SHOW PAGE -----*/

#gift-show-feed-content {
	background-color: white;
	min-height: 400px;
	background: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	-webkit-border-radius: 3px;
	padding: 0;
	margin-bottom: 40px;
}
#gift-show-feed-title {
	text-align: center;
	margin: 0px auto;
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 0px;
	background-color: #e9eaed;
}
#gift-show-feed-title h1 {
	margin: 0 auto;
}

#gift-show-feed-image {
	margin: 0 auto;
}
#gift-show-feed-image img {
	width: 100%;
}
#gift-show-feed-description {
	margin: 0px 15px 30px 15px;
}
.gift-show-feed-description-content {
	margin-left: 15px;
}

.single-pledge {
	min-height: 100px;
	background: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	-webkit-border-radius: 3px;
	margin: 20px 0px;
	padding: 20px;
}
.feed-content {
	position: relative;
	top: -15px;
}
.feed-description span {
	color: #1abc9c;
}
.feed-update-delete-pledge {
	margin-top: 10px;
}
.feed-update-delete-pledge div {
	display: inline-block;
	margin-right: 20px;
}
#no-pledges {
	margin-top: 15px;
}


/* SHOW PAGE SIDEBAR */

.pull-right {
	padding: 0px;
}

#gift-sidebar {
	min-height: 300px;
	background-color: white;
	background: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	-webkit-border-radius: 3px;
	padding: 0;
	margin-bottom: 30px;
}
#owner-sidebar {
	min-height: 200px;
	background-color: white;
	background: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	-webkit-border-radius: 3px;
	padding: 0;
	margin-bottom: 30px;
}

.sidebar-title {
	text-align:center;
	margin: 0px auto;
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 0px;
	background-color: #e9eaed;
}

#funding-percentage {
	text-align:center;
	font-size: 60px;
	color: #e74c3c;
}
.funding-goal {
	margin-left: 20px;
	font-size: 20px;
}
.funding-goal span {
	color: #1abc9c;
}

.progress {
	margin: 20px auto;
	width: 90%;
}
.progress-bar {
	background-color: #1abc9c;
}
.funding-button {
	text-align:center;
}
#owner-sidebar-content {
	padding: 20px;
}

#make-pledge-to-campaign {
	width: 90%;
	font-size: 14px;
	margin-bottom: 20px;
}
#manage-gift {
	text-align: center;
	margin: 20px auto;
}
.sidebar-padding {
	height:1000px;
}
.gift-button {
	width: 90%;
	font-size: 14px;
	margin: 5px 0px;
	border: none;
}
#delete-gift-button {
	background-color: #c0392b;
}
#delete-gift-button:hover {
	background-color: #e74c3c;
}

@media (min-width: 768px) and (max-width: 979px) {
	.gift-button {
		font-size: 11px;
	}
	#funding-percentage {
		font-size: 40px;
	}
	.funding-goal {
		font-size: 15px;
	}
	.feed-description {
		font-size: 12px;
	}
}

@media (max-width: 767px) {
	.sidebar-padding {
		height:0px;
	}
	#user-sidebar {
		margin-bottom: 15px;
	}
	.feed-description {
		font-size: 12px;
	}

 }
