// Place all the styles related to the UserVenmos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#connect-venmo-link {
	margin-top: 30px;
}

#connect-to-venmo-div {
	text-align: center;
	background-color: white;
	min-height: 400px;
	border: 1px solid #bbb;
	border-radius: 5px;
}

p.venmo {
	margin-top: 30px;
}

#venmo-logo {
	margin-top: 30px;
}

/*----- SHOW PAGE -----*/


/* USER FEED */

#user-feed-title {
	text-align:center
}

#user-profile-feed {

}

.user-single-feed {
	min-height: 100px;
	background: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	-webkit-border-radius: 3px;
	margin-bottom: 20px;
	padding: 20px;
}

#user-feed-title {
	margin-bottom: 40px;
}

#user-profile-feed {
	padding: 0;
}

.profile-image-feed {
	display: inline-block;
}

.feed-content {
	display: inline-block;
	margin-left: 15px;
}

.feed-description {
	display: inline-block;
}

.feed-timestamp {
	display: block;
	color: #898f9c;
	font-size: 13px;
}

.feed-gift-image {
	width: 100%;
	margin: 10px auto;
}


/* SIDEBAR */

#user-sidebar {
	background-color: white;
	min-height: 400px;
	background: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	-webkit-border-radius: 3px;
	padding: 0;
}

#user-profile-name {
	text-align:center;
	border-bottom: 1px solid #bbb;
}






